<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Senac Site Online</title>
  </head>

  <body>
    <header>
      <h1>Senac Site Online</h1>
      <p>Trabalho da UC3.</p>
    </header>

    <main>
      <section>
        <h2>Mensagem do servidor</h2>
        <p><strong>{{ mensagem }}</strong></p>
      </section>
    </main>

    <footer>
      <p>Empresa Back-End</p>
    </footer>
  </body>
</html>